<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <headeer>
  <% if user_signed_in? %>
    <span>
    <h3><%= current_user.nickname %>'s BLOG</h3>
     <a href="/users/<%= current_user.id %>">マイページ</a>
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
     <a href="/tweets/new">投稿する</a>  
    </span>
    
  <% else %>
    <%= link_to  "ログイン" ,new_user_session_path %>
    <%= link_to  "新規登録" ,new_user_registration_path %>
  <% end %>
  </headeer>

  <body>
    <%= yield %>
  </body>
</html>
